@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{ 
    background-color : #262626;
    margin : 0px;
    font-family: 'Cafe24Ssurround';
}
/*=====================================*/

#sidebar {
    background-color : #383838;
    color: #838383;
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
}
/*=====================================*/

#profile{
    color : #f1f1f1;
    margin: 25px 0px 25px 0px;
}
#profileBox{
    width: 150px;
    height: 150px; 
    border-radius: 40%;
    overflow: hidden;
    position: relative;
    transition: opacity 0.2s;
}
#profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
#profileImg:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    filter:blur(1px)
}
#overlay{
    color: #52d45d;
    margin: 20px 0px 0px 45px;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}
#profileBox:hover #overlay{
    opacity: 1;
}
/*=====================================*/

#menu a {
    color: #838383;
    padding: 18px 8px 4px 16px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
}
#menu a:hover{
    color : #f1f1f1;
}
#menu a:after{
    font-size: 20px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
#menu a:after {
    margin-right: 10px;
    content: '_';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
#menu a:hover:after, #menu a:focus:after {
    color : #f1f1f1;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/*=====================================*/

#topbar{
    background-color: #4a4a4a;
    margin: 0px 0px 0px 210px;
    padding : 8px 0px 8px 40px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    color: #838383;
}
.topbarSelector{
    text-decoration-line: none;
    color: #529ad4;
}
.topbarSelector a:visited{
    color: #529ad4;
}
.topbarSelector a:link{
    color: #529ad4;
}
.topbarSelector:hover{
    text-decoration-line: underline;
    color: #93cf61;
}
/*=====================================*/

#point {/* Same as the width of the sidenav */
    margin: 50px 0px 0px 250px;
    color : white;
}

.pointPost{
    font-size: 28px;
    text-decoration-line: none;
    color: #529ad4;
}
.pointPost:visited{
    color: #d24ee4;
}
.pointPost:link{
    color: #d24ee4;
}
.pointPost:hover{
    text-decoration-line: underline;
    color: #93cf61;
}

.word{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.date {
    font-size: 10px;
    color : gray;
    margin-right: 10px;
}
.tag {
    font-size: 10px;
    color : gray;
}

/*미디어 쿼리 나중에 확인하기!!*/