<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8" >
	<title>Main</title> 
	<link rel="stylesheet" href="/css/all.css">
	<style th:inline="css">
		#[[${selector}]]{
			padding: 0px 0px 0px 0px;
			color : #f1f1f1;
			font-size: 25px;
		}
		#[[${selector}]]:after {
			content: ' <';
		}
	</style>
</head>
<body>
	<div id="sidebar" align="center">
		<div id="profile">
			<div id="profileBox">
				<a href="/login">
					<img id="profileImg" src="/image/profile.jpg" alt="프로필">
					<strong id="overlay">게시하기</strong>
				</a>
			</div>

			<h3>NONO6202</h3>
			<i>이 너머, 잠시 휴식 필요하다</i>
		</div>

		<div id="menu">
			<a href="/" > <span id="Main">MAIN</span></a>
			<a name="contentlist" th:each="a:${content}" th:href="@{|/Main/${a[0]}}|" th:value="${a[0]}"> <span th:utext="${a[1]}" th:id="${a[0]}">utext</span></a>
		</div>
	</div>
	
	<div id="topbar">
		<a th:href="@{|/${selector}}|" id="topbarSelector"> <span th:text="${selector}">selector</span> </a>
	</div>

	<div id="point">
		<!--DB// 제목 작성일 짧은 글 등 접목 시키기-->
		<h1>환영합니다!</h1>
	</div>


</body>
</html>