<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8" >
	<title>main</title> 
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/main.css">
	<style th:inline="css">
		#[[${selector}]]{
			padding: 0px 0px 0px 0px;
			color : #f1f1f1;
			font-size: 25px;
		}
		#[[${selector}]]:after {
			content: ' ^^';
		}
	</style>
</head>
<body>
	<div id="sidebar" align="center">
		<div id="profile">
			<div id="profileBox">
				<a href="/"><img id="profileImg" src="/image/profile.jpg"></a>
			</div>

			<h3>NONO6202</h3>
			<i>이 너머, 잠시 휴식 필요하다</i>
		</div>
		<div id="menu">
			<a href="/"> <span id="main">MAIN</span></a>
			<a href=""> <span id="main2">2학년 1학기</span></a>
			<a href=""> <span id="3">ASDASD</span></a>
			<a href=""> <span id="4">QWESAD</span></a>
		</div>
	</div>
	
	<div id="topbar">
		<span th:text="${selector}">selector</span>
	</div>

	<span>asdasdasd</span>


</body>
</html>