<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8" >
	<title th:text="${selector}">selector</title> 
	<link rel="stylesheet" href="/css/all.css">
	<style th:inline="css">
		#[[${selector}]]{
			padding: 0px 0px 0px 0px;
			color : #f1f1f1;
			font-size: 25px;
		}
		#[[${selector}]]:after {
			content: ' <';
		}
	</style>
</head>
<body>
	<div id="sidebar" align="center">
		<div id="profile">
			<div id="profileBox">
				<a href="/login">
					<img id="profileImg" src="/image/profile.jpg" alt="프로필">
					<strong id="overlay">게시하기</strong>
				</a>
			</div>

			<h3>NONO6202</h3>
			<i>이 너머, 잠시 휴식 필요하다</i>
		</div>

		<div id="menu">
			<a href="/" > <span id="Main">MAIN</span></a>
			<a name="contentlist" th:each="c:${content}" th:href="@{|/Main/${c[1]}}|" th:value="${c[1]}"> <span th:utext="${c[2]}" th:id="${c[1]}">utext</span></a>
		</div>
	</div>
	
	<div id="topbar">
		<a th:href="@{|/Main/${selector}|}" class="topbarSelector"> <span th:text="${selector}">selector</span> </a>
	</div>

	<div id="point">
		<!--DB// 제목 작성일 짧은 글 등 접목 시키기-->
		<div>
			<h1>환영합니다!</h1>

		</div>
		<div th:each="p,pstat:${post}">
			<a name="postlist" th:href="@{|${selector}/${p[2]}|}" th:value="${p[2]}" class="pointPost"> <span name="contentlist" th:utext="${p[1]}" th:value="${selector}">utext</span></a><p>
			<div th:text="${p[4]}" class="word">내용</div><br>
			<div><span th:text="|${date[pstat.index]}|" class="date"></span> <span class="tag">테그 기능만들기</span></div>
			<hr>
		</div>
	</div>


</body>
</html>